{% extends "base.html" %}

{% block heading %} {{item.name}} details {% endblock heading %}

{% block content %} 

	  {% if item.logo %}
    			<img src="{{item.logo.url}}" alt="" class="card-img-top img-height">
			{% endif %}
<h1> {{item.name}} </h1>
<p> {{item.description}}</p>
<p> Opening hours: {{item.opening_time}} - {{item.closing_time}}</p>
{{now}}

{% for menu in menu_items %}
	{{menu.name}}
	{{menu.description}}
	{{menu.price}}
	<br>
{% endfor %}


<br>

	
{% if item.opening_time < now and item.closing_time > now %}
	
	restaraun is open
	{% else %}
	restaurant is closed

{% endif %}
<br>
{% endblock content %} 