{% extends "base.html" %}

{% block heading %} List {% endblock heading %}

{% block content %} 

<div class="row">
	{% for x in restaurant_list reversed %}
	<div class="card-group col-sm-12 col-md-6 col-lg-4 item-mgn">
	<div class="card">
	<div class="card-header">
	    <a href="{{x.get_absolute_url}}"> 
	    	<br> 	    
	    	{% if x.logo %}
    		<img src="{{x.logo.url}}" alt="" class="card-img-top">
		{% endif %}</a>
	</div>
	<div class="card-body">
		{{x.name}}
	    <p class="card-text">
	    	{{x.description|linebreaks|truncatechars:100}} <br>
				Opening: | {{x.opening_time}} <br>
				Closing: | {{x.closing_time}}<br>
	    </p>
	    <a href="{% url 'restaurant_detail' restaurant_slug=x.slug %}" class="btn btn-primary">View</a>
	    <a href="{% url 'restaurant_update' restaurant_slug=x.slug %}" class="btn btn-success">Update</a>
	    <a href="{% url 'restaurant_delete' restaurant_slug=x.slug %}" class="btn btn-danger">Delete</a>
	  </div>
	</div>
	</div>

	{% endfor %}

</div>
	<br>
	<div class="pagination">
    <span class="step-links">
        {% if restaurant_list.has_previous %}
            <a href="?page={{ restaurant_list.previous_page_number }}&q={{request.GET.q}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ restaurant_list.number }} of {{ restaurant_list.paginator.num_pages }}.
        </span>

        {% if restaurant_list.has_next %}
            <a href="?page={{ restaurant_list.next_page_number }}&q={{request.GET.q}}">next</a>
        {% endif %}
    </span>

</div>


<div>
	

<form class="form-group" action="{% url 'restaurant_list' %}" method="GET">
	<input  class="textinput textInput form-control item-mgn input-search-color" type="text" name="q" placeholder="Search..." value="{{request.GET.q}}">

</div>
<br>
{% endblock content %} 